<a href="https://colab.research.google.com/github/singhraj00/Python-Interview-Question/blob/main/DSA_Zone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
arr = [[1,2],[3,4],5,6,7]

def flatten(lst):
  result=[]
  for item in lst:
    if isinstance(item,list):
      result.extend(flatten(item))
    else:
      result.append(item)
  return result


print(flatten(arr))

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
def rev_array(arr):
  result=[]
  for item in arr[::-1]:
    result.append(item)
  return result

rev_array([2,3,4,5])

[5, 4, 3, 2]

In [ ]:
def sort_arr(arr):
  for i in range(len(arr)):
    for j in range(len(arr)-i-1):
      if arr[j]>arr[j+1]:
        arr[j],arr[j+1]=arr[j+1],arr[j]
  return arr


sorted_arr = sort_arr([55,11,9,14])
sorted_arr

[9, 11, 14, 55]

In [ ]:
def two_sum(arr,target):
  seen = {}
  for i,num in enumerate(arr):
    comp = target-num
    if comp in seen:
      return [seen[comp],i]
    seen[num]=i
  return []


two_sum([2,5,7,11],9)

[0, 2]

In [ ]:
def valid_parenthesis(text):
  stack=[]
  mappings = {
      ']':'[',
      '}':'{',
      ')':'('
  }

  for char in text:
    if char in mappings:
      if not stack or stack.pop()!=mappings[char]:
        return False
    else:
      stack.append(char)
  return len(stack)==0


valid_parenthesis('({[]})')

True

In [ ]:
def long_substring(text):
  seen = {}
  max_len = 0
  left = 0
  for right,char in enumerate(text):
    if char in seen and seen[char]>=left:
      left = seen[char]+1
    else:
      max_len = max(max_len,right-left+1)
    seen[char]=right
  return max_len

long_substring('rahul rathour')

8

In [ ]:
def find_occurence(text):
  freq = {}
  for char in text:
    freq[char] = freq.get(char,0)+1
  return freq

find_occurence('rahul rathour')

{'r': 3, 'a': 2, 'h': 2, 'u': 2, 'l': 1, ' ': 1, 't': 1, 'o': 1}

In [ ]:
def remove_duplicates(arr):
  seen = set()
  result= []
  for num in arr:
    if num not in seen:
      seen.add(num)
      result.append(num)
  return result


remove_duplicates([2,5,7,11,19,11,15,16,9])

[2, 5, 7, 11, 19, 15, 16, 9]

In [ ]:
list(set([1,2,3,4,1,2,1,2,11,23]))

[1, 2, 3, 4, 11, 23]

In [ ]:
lst = [1,2,3,4,5]

even_num = [item for item in lst if item%2==0]
even_num

[2, 4]

In [ ]:

def my_decorator(func):
  def wrapper(*args,**kwargs):
    print('before function...')
    result = func(*args,**kwargs)
    print(result)
    print('after function....')
  return wrapper

@my_decorator
def my_function(a,b):
  return a+b

my_function(2,3)

before function...
5
after function....

In [ ]:
import time

def measure_time(func):
  def wrapper(*args,**kwargs):
    start = time.time()
    print('Function Executing Start...')
    result = func(*args,**kwargs)
    end = time.time()
    print('function execution end...')
    print(f'{func.__name__} takes time at {end-start:.3f} seconds')
  return wrapper

@measure_time
def my_function(a,b):
  time.sleep(5)
  return a+b

my_function(2,3)

Function Executing Start...
function execution end...
my_function takes time at 5.000 seconds

In [ ]:
lst = [1,2,3,4,5]
lst[::-1]

[5, 4, 3, 2, 1]

In [ ]:
def reverse(arr):
  rev =[]
  for num in range(len(arr)-1,-1,-1):
    rev.append(arr[num])
  return rev

reverse([2,4,5,6])

[6, 5, 4, 2]

In [ ]:
## in place swap
def rev_list(lst):
  left,right=0,len(lst)-1
  while left<right:
    lst[left],lst[right]=lst[right],lst[left]
    left+=1
    right-=1
  return lst

rev_list([1,2,3,4,5])

[5, 4, 3, 2, 1]

In [ ]:
## using recursion
def rev_list(arr):
  if len(arr)==0:
    return []
  return [arr[-1]] + rev_list(arr[:-1])

rev_list([1,2,3,4,5])

[5, 4, 3, 2, 1]

In [ ]:
def rev_list(arr):
  # using extra list
  res = []
  for i in range(len(arr)-1,-1,-1):
    res.append(arr[i])
  return res


rev_list([1,2,3,4,5])

[5, 4, 3, 2, 1]

In [ ]:
def rev_list_inplace(arr):
  left,right=0,len(arr)-1
  while left<right:
    arr[left],arr[right]=arr[right],arr[left]
    left+=1
    right-=1
  return arr

rev_list_inplace([1,2,3,4,5])

[5, 4, 3, 2, 1]

In [ ]:
def rev_list_rec(arr):
  if len(arr)==0:
    return []
  return [arr[-1]] + rev_list_rec(arr[:-1])

rev_list_rec([1,2,3,4,5])

[5, 4, 3, 2, 1]

In [ ]:
## second largest element
def kth_largest_element(arr,k):
  # remove duplicated values
  unique = list(set(arr))
  # sort the array
  unique.sort()
  # return kth largest element
  return unique[-k]

# second largest element
kth_largest_element([11,9,12,34,67],2)

34

In [ ]:
def remove_duplicates(arr):
  result = []
  for num in arr:
    if num not in result:
      result.append(num)
  return result

remove_duplicates([12,12,13,13,14,15,17])

[12, 13, 14, 15, 17]

In [ ]:
## find common elements in two list
arr1 = [1,2,3]
arr2 = [2,3,4]

print(list(set(arr1)&set(arr2)))

[2, 3]

In [ ]:
## custom functions
## 1.list compherension
common_elements = [x for x in arr1 if x in arr2]
common_elements

[2, 3]

In [ ]:
## 2. define function order matter
def common_elements(lst1,lst2):
  # seen = set()
  result = []
  for num in lst1:
    if num in lst2 and num not in result:
      # seen.add(num)
      result.append(num)
  return result

common_elements([1,2,3],[2,3,4])

[2, 3]

In [ ]:
lst1 = [1,2,3]
lst2 = [2,3,4]

print(list(set(lst1) ^ set(lst2)))

[1, 4]

In [ ]:
from enum import unique
def unique_elements(lst1,lst2):
  combined = lst1 + lst2
  seen = set()
  result = []
  for x in combined:
    if (x in lst1) ^ (x in lst2):
      seen.add(x)
      result.append(x)
  return result

unique_elements([1,2,3],[3,4,5])

[1, 2, 4, 5]

In [ ]:
## find missing number from list
lst = [1,2,3]

n = len(lst)+1

expected_num = n * (n+1) // 2

print(expected_num - sum(lst))

4

In [ ]:
## move all zeros to end
lst = [0,1,2,3,4,0,7,6,9,0]

non_zeros = [x for x in lst if x!=0]
zeros = [0] * (len(lst)-len(non_zeros))
print(non_zeros + zeros)

[1, 2, 3, 4, 7, 6, 9, 0, 0, 0]

In [ ]:
def merge_two_sorted_list(a,b):
  i=j=0
  merged = []
  while i < len(a) and j<len(b):
    if a[i]<b[j]:
      merged.append(a[i])
      i+=1
    else:
      merged.append(b[j])
      j+=1
  merged += a[i:] + b[j:]
  return merged

merge_two_sorted_list([1,2,3],[4,5,6])

[1, 2, 3, 4, 5, 6]

In [ ]:
## flatten an nested list
lst = [[1,2],[3,4],5,6,7]
flatten_list = [x for sub in lst for x in (sub if isinstance(sub,list) else [sub])]
flatten_list

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
arr = [[1,2],[3,4],5,6,7]
flatten_list = [x for sub in arr for x in (sub if isinstance(sub,list) else [sub])]
flatten_list

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
def flatten(lst):
  result=[]
  for num in lst:
    if isinstance(num,list):
      result.extend(flatten(num))
    else:
      result.append(num)
  return result

flatten([1,2,3,[4,5]])

[1, 2, 3, 4, 5]

In [ ]:
## remove all occurence of a value
lst = [1,2,3,4,3,4,5]
val = 3
result = [x for x in lst if x!=val]
result

[1, 2, 4, 4, 5]

In [ ]:
# find intersection and union
a = [1,2,3,4,5]
b = [4,5,6,7,8]

## common elements
print(list(set(a) & set(b)))
# unique elements
print(list(set(a) | set(b)))
# unique + non-duplicates
print(list(set(a) ^ set(b)))

[4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 6, 7, 8]

In [ ]:
## list comprehension
## squares
sqr = [x**2 for x in range(1,7)]
sqr

[1, 4, 9, 16, 25, 36]

In [ ]:
## flaten
flatten = [x for row in [[1,2,3],[4,5],6,7] for x in (row if isinstance(row,list) else [row])]
flatten

[1, 2, 3, 4, 5, 6, 7]

In [1]:
arr =[1,2,[3,4],5,6,7]
flatten = [x for row in arr for x in (row if isinstance(row,list) else [row])]
flatten

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# remove empty list and None
lst = [1,2,3,[],None]
result = [x for x in lst if x not in ([],None)]
result

[1, 2, 3]

In [ ]:
lst = ['h','e','l','l','o']
print(''.join(lst))

hello

In [ ]:
lst = [1,2,3,4,5]
print(''.join(map(str,lst)))

12345

In [ ]:
def find_duplicates(arr):
  seen = set()
  duplicates = set()

  for num in arr:
    if num in seen:
      duplicates.add(num)
    else:
      seen.add(num)
  return list(duplicates)


find_duplicates([1,2,3,4,5,5,6,1,2])

[1, 2, 5]

In [ ]:
def highest_freq(lst):
  freq={}
  for x in lst:
    if x in freq:
      freq[x] += 1
    else:
      freq[x]=1

  max_count=0
  max_elem = None

  for key,value in freq.items():
    if value>max_count:
      max_count=value
      max_elem=key
  return max_elem,max_count

highest_freq([1,2,2,3,4,1,2,4,3])

(2, 3)