<a href="https://colab.research.google.com/github/singhraj00/Python-Interview-Question/blob/main/list_coding_question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# reverse list without using reverse()

In [1]:
a = [10,20,30,40,50]
print(a[::-1])

[50, 40, 30, 20, 10]

In [3]:
res = []
for i in a:
  res.insert(0,i)
print(res)

[50, 40, 30, 20, 10]

# Remove duplicates from list

In [4]:
b = [44,11,23,44,55,11]

seen = set()
result = []

for i in b:
  if i not in seen:
    seen.add(i)
    result.append(i)

print(result)

[44, 11, 23, 55]

In [5]:
print(list(set(b)))

[11, 44, 55, 23]

# find max & min elements from list

In [6]:
c = [34,12,67,45,11]

min_val = c[0]
max_val = c[0]

for num in c:
  if num>max_val:
    max_val=num
  elif num<min_val:
    min_val = num

print(min_val,max_val)

11 67

# check list is palindrome or not

In [7]:
lst = [1,2,3,2,1]

if lst == lst[::-1]:
  print('palindrome')
else:
  print('not palindrome')

palindrome

# find frequency of each element

In [8]:
freq = {}
for i in lst:
  freq[i]=freq.get(i,0)+1
print(freq)

{1: 2, 2: 2, 3: 1}

# sort list without using sort()

In [9]:
lst = [89,21,33,46,17,12]

for i in range(len(lst)):
  for j in range(i+1,len(lst)):
    if lst[i]>lst[j]:
      lst[i],lst[j]=lst[j],lst[i]

print(lst)

[12, 17, 21, 33, 46, 89]

# merge two list

In [10]:
a = [1,2,3]
b = [4,5,6]

print(a+b)

[1, 2, 3, 4, 5, 6]

# find common elements from list

In [11]:
a = [1,2,3]
b = [3,4,5]

print(list(set(a)&set(b)))

[3]

# convert list of tuple to dict

In [12]:
lst = [(1,'one'),(2,'two'),(3,'three')]

d={}
for k,v in lst:
  d[k]=v

print(d)

{1: 'one', 2: 'two', 3: 'three'}

# flatten nested list

In [13]:
lst = [1,2,3,[4,5],6,7]

flat = [x for sub in lst for x in (sub if isinstance(sub,list) else [sub])]

print(flat)

[1, 2, 3, 4, 5, 6, 7]

In [14]:
flat = []

for num in lst:
  if isinstance(num,list):
    flat.extend(num)
  else:
    flat.append(num)

print(flat)

[1, 2, 3, 4, 5, 6, 7]

# Square of each element

In [15]:
lst = [1,2,3,4,5]

sqr = [i*i for i in lst]

sqr

[1, 4, 9, 16, 25]

# find second largest number

In [16]:
lst = [10,20,4,45,99]

first=second=float('-inf')

for i in lst:
  if i>first:
    second=first
    first=i
  elif i>second and i!=first:
    second=i

print(second)

45

# rotate list by k

In [17]:
lst = [1,2,3,4,5]
k = 2

print(lst[k:]+lst[:k])

[3, 4, 5, 1, 2]

# check list contains only number

In [19]:
lst = [1,2,3,'a']
print(all(isinstance(x,int) for x in lst))

False

# find index of element without using index()

In [20]:
lst = [10,20,30,40,50]
x=30
pos=-1

for i in range(len(lst)):
  if lst[i]==x:
    pos=i
    break

print(pos)

2

## List compherension : get even numbers

In [21]:
lst = [11,22,33,44,77,99]
even_num = [x for x in lst if x%2==0]
even_num

[22, 44]

## convert list to string

In [23]:
lst = ['my','name','is','raj']
res = " ".join(lst)
res

'my name is raj'

# find all pairs whose sum is K

In [31]:
def two_sum(arr,target):
  seen = {}
  for i,num in enumerate(arr):
    comp = target-num
    if comp in seen:
      return [seen[comp],i]
    seen[num]=i
  return []

two_sum([2,5,7,11],9)

[0, 2]

# Remove empty list inside list

In [32]:
lst = [1,[],2,[],3,[]]

res = [i for i in lst if i!=[]]
res

[1, 2, 3]

# Replace List element at specified index

In [33]:
lst = [10,20,30,40]
lst[1]=15
lst

[10, 15, 30, 40]

# sort list dict by keys

In [35]:
lst = [{'age':23},{'age':20},{'age':25}]
res = sorted(lst,key=lambda x:x['age'])
res

[{'age': 20}, {'age': 23}, {'age': 25}]

## find list of element > average

In [36]:
lst = [10,20,30,40,50]
avg = sum(lst)/len(lst)

res = [x for x in lst if x>avg]
res

[40, 50]

# split list into chunks

In [37]:
lst = [1,2,3,4,5,6,7]
n = 3

chunks = [lst[i:i+n] for i in range(0,len(lst),n)]
chunks

[[1, 2, 3], [4, 5, 6], [7]]

# remove all occurence of value

In [38]:
lst = [1,2,2,2,3,4,5]
val = 2

res = [x for x in lst if x!=val]
res

[1, 3, 4, 5]

# find missing number in range

In [39]:
lst = [1,2,3,4,6,7,8]
full = range(lst[0],lst[-1]+1)

missing = [x for x in full if x not in lst]
missing

[5]

# find intersection without set

In [40]:
a = [1,2,3,4]
b = [3,4,5,6]

res = [x for x in a if x in b]
res

[3, 4]

## all elements are same or not

In [42]:
lst = [5,5,5,5]
print(len(set(lst))==1)

True

## remove negative number from list

In [43]:
lst = [10,20,-19,89,-76]
res = [x for x in lst if x>0]
res

[10, 20, 89]

# replace negative with 0

In [44]:
for i in range(len(lst)):
  if lst[i]<0:
    lst[i]=0

print(lst)

[10, 20, 0, 89, 0]

## MCQ

In [ ]:
a = [1,2,3]
b=a
b.append(4)
print(a)

In [49]:
a = [1,2,3]
b= a[:]
b.append(4)
print(a,b)

[1, 2, 3] [1, 2, 3, 4]

In [50]:
lst = [1,2,3,2,4,2]
print([i for i,x in enumerate(lst) if x==2])

[1, 3, 5]

In [51]:
lst = [1,2,3,4]
lst[1:3]=[99,100]
lst

[1, 99, 100, 4]

In [52]:
a = [1,[2,3],5]
a[1].append(4)
a

[1, [2, 3, 4], 5]

In [53]:
# reverse list using recursion
def rev(lst):
  if len(lst)==0:
    return []
  return [lst[-1]]+rev(lst[:-1])
rev(lst)

[4, 100, 99, 1]

In [54]:
## multiply all elements
from functools import reduce
lst = [1,2,3,4,5]
print(reduce(lambda x,y:x*y,lst))

120

In [55]:
# find duplicates using list compherencion
lst = [1,2,3,2,1,3,4]
dup = list(set([x for x in lst if lst.count(x)>1]))
dup

[1, 2, 3]

In [56]:
# convert list to tuple
lst = [10,20,30]
print(tuple(lst))

(10, 20, 30)

In [57]:
# merge two dict
a = {1:'x'}
b = {2:'y'}

print({**a,**b})

{1: 'x', 2: 'y'}

In [58]:
# check string is anaggram
a = 'listen'
b = 'silent'

print(sorted(a)==sorted(b))

True

In [59]:
# reverse each word in string
s = 'hello world'
res = " ".join([w[::-1] for w in s.split()])
res

'olleh dlrow'

In [60]:
# convert two list to dict
keys = ['a','b','c']
values = [1,2,3]

print(dict(zip(keys,values)))

{'a': 1, 'b': 2, 'c': 3}

In [61]:
# sort list of tuple by second value
lst = [(1,4),(3,1),(5,3)]
res = sorted(lst,key=lambda x:x[1])
res

[(3, 1), (5, 3), (1, 4)]

In [64]:
# count frequecy of char
s = 'banana'

freq={}

for ch in s:
  freq[ch]=freq.get(ch,0)+1

freq

{'b': 1, 'a': 3, 'n': 2}

In [65]:
# check if list is subset of another
a = [1,2]
b = [1,2,3,4]

print(all(x in b for x in a))

True

In [66]:
# convert tuple - list - modify - tuple
t = (1,2,3)
lst = list(t)
lst.append(4)
t = tuple(lst)
print(t)

(1, 2, 3, 4)

In [67]:
# remove keys from dict safely
d = {'a':1,'b':2}
d.pop('c',None)
print(d)

{'a': 1, 'b': 2}

In [68]:
# flatten list of dict values
lst = [{'a':1},{'b':2},{'c':3}]
res = [v for d in lst for v in d.values()]
res

[1, 2, 3]

In [69]:
# check list is palindrome
lst = [1,2,3,2,1]
print(lst==lst[::-1])

True

In [70]:
# find common keys in two dict
a = {'x':1,'y':2}
b = {'y':3,'z':4}

print(a.keys() & b.keys())

{'y'}

In [74]:
sentence = 'my name is raj'
" ".join(w[::-1] for w in sentence.split())

'ym eman si jar'

In [78]:
lst = [10,5,20,8]

first=second=float('-inf')

for num in lst:
  if num>first:
    second=first
    first=num
  elif num>second and num!=first:
    second=num

print(second)

10

In [79]:
lst = [(1,'a'),(2,'b'),(3,'c')]
d = {}
for k,v in lst:
  d[k]=v

print(d)

{1: 'a', 2: 'b', 3: 'c'}

In [80]:
def two_sum(arr,target):
  seen={}
  for i,num in enumerate(arr):
    comp = target-num
    if comp in seen:
      return [seen[comp],i]
    seen[num]=i
  return []

two_sum([2,5,7,11],9)

[0, 2]

In [81]:
a = 'listen'
b = 'silent'

print(sorted(a)==sorted(b))

True

In [85]:
lst = [1,[2,[3,4],5],6]
res=[]
for i in lst:
  if isinstance(i,list):
    res.extend(i)
  else:
    res.append(i)

res

[1, 2, [3, 4], 5, 6]

In [86]:
s = 'banana'
freq={}

for ch in s:
  freq[ch] = freq.get(ch,0)+1

freq

{'b': 1, 'a': 3, 'n': 2}

In [87]:
lst = [1,2,3,2,1]

seen = set()
result=[]

for num in lst:
  if num not in seen:
    seen.add(num)
    result.append(num)

result

[1, 2, 3]

In [88]:
lst = [1,2,3,4,5]
k=2

print(lst[k:]+lst[:k])

[3, 4, 5, 1, 2]

In [89]:
lst = [1,2,3,2,1]
print(lst==lst[::-1])

True

In [90]:
def flatten(arr):
  res=[]
  for num in arr:
    if isinstance(num,list):
      res.extend(flatten(num))
    else:
      res.append(num)
  return res

flatten([1,[2,[3,4],5],6])

[1, 2, 3, 4, 5, 6]

In [91]:
def rev_list_inplace(arr):
  left,right=0,len(arr)-1
  while left<right:
    arr[left],arr[right]=arr[right],arr[left]
    left+=1
    right-=1
  return arr

rev_list_inplace([1,2,3,4])

[4, 3, 2, 1]

In [92]:
lst = [1,2,3,4,5]
lst[:] = lst[::-1]
lst

[5, 4, 3, 2, 1]

In [93]:
lst.reverse()
lst

[1, 2, 3, 4, 5]