<a href="https://colab.research.google.com/github/singhraj00/Python-Interview-Question/blob/main/Python_Pattern_Problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **⭐ EASY LEVEL PATTERNS**

1. Solid Square

```
****
****
****
****
```

In [1]:
def solid_sqr(n):
  for i in range(n):
    print("*"*n)

solid_sqr(5)

*****
*****
*****
*****
*****

# 2. Right Angle Triangle

```
*
**
***
****
```

In [3]:
def right_angle_triangle(n):
  for i in range(1,n+1):
    print('*' * i)


right_angle_triangle(4)

*
**
***
****

## 3. Left Angle Triangle

In [20]:
def left_angle_tri(n):
  for i in range(n,0,-1):
    print('*' * i)

left_angle_tri(4)

****
***
**
*

# **⭐⭐ MEDIUM LEVEL PATTERNS**

## 4. Pyramid Pattern

```
   *
  ***
 *****
*******
```

In [15]:
def pyramid_pattern(n):
  for i in range(n):
    print(" "*(n-i-1) + '*' * (2*i+1))

pyramid_pattern(4)

   *
  ***
 *****
*******

## 5. Inverted Pyramid Pattern
```
*******
 *****
  ***
   *
```

In [17]:
def inv_pyramid_pattern(n):
  for  i  in range(n-1,-1,-1):
    print(" "*(n-i-1) + '*' * (2*i+1))

inv_pyramid_pattern(4)

*******
 *****
  ***
   *

## 6. Diamond Pattern

```
   *
  ***
 *****
*******
 *****
  ***
   *
```

In [23]:
def diamond_pattern(n):
  for i in range(n):
    print(" "*(n-i-1) + '*'*(2*i+1))

  for i in range(n-2,-1,-1):
    print(" "*(n-i-1) + '*'*(2*i+1))

diamond_pattern(4)

   *
  ***
 *****
*******
 *****
  ***
   *

# **⭐⭐⭐ HARD / INTERVIEW-FAVORITE PATTERNS**

## 7. Number Triangle

```
1
12
123
1234
```

In [27]:
def num_triangle(n):
  num=1
  for i in range(1,n+1):
    for j in range(1,i+1):
      print(j,end=' ')
    print()

num_triangle(4)

1
1 2
1 2 3
1 2 3 4

## 8. Floyd’s Triangle

```
1
2 3
4 5 6
7 8 9 10
```

In [29]:
def floyds_traiangle(n,num=1):
  for i in range(n):
    for j in range(i+1):
      print(num,end=' ')
      num+=1
    print()

floyds_traiangle(4)

1
2 3
4 5 6
7 8 9 10

## 9. Pascal’s Triangle

```
        1
      1   1
    1   2   1
  1  3   3   1
1  4   6   4   1
```

In [36]:
def pascal_tri(n):
  for i in range(n):
    print(" "*(n-i),end=' ')
    num=1
    for j in range(i+1):
      print(num,end=' ')
      num = num * (i-j) // (j+1)
    print()


pascal_tri(5)

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

## 10 . Butterfly Pattern

```
*      *
**    **
***  ***
********
***  ***
**    **
*      *
```

In [41]:
def butterfly_pattern(n):
  for i in range(1,n+1):
    print("*"* i + " "*(2*(n-i)) + "*"*i)

  for i in range(n,0,-1):
    print('*'*i + ' '*(2*(n-i)) + '*'*i)

butterfly_pattern(4)

*      *
**    **
***  ***
********
********
***  ***
**    **
*      *

11. Hourglass Pattern

```
*******
 *****
  ***
   *
  ***
 *****
*******
```

In [42]:
def hour_glass_pattern(n):
  for i in range(n-1,-1,-1):
    print(" "*(n-i-1) + '*'*(2*i+1))
  for i in range(n):
    print(" "*(n-i-1) + '*'*(2*i+1))

hour_glass_pattern(4)

*******
 *****
  ***
   *
   *
  ***
 *****
*******

12. Frequency Pattern Problem

In [32]:
def look_and_say(n):
  term = "1"
  print(term)

  for _ in range(n-1):
    next_term = ''
    i=0

    while i<len(term):
      count = 1
      while i+1 < len(term) and term[i] == term[i+1]:
        count += 1
        i+=1
      next_term += str(count) + term[i]
      i+=1

    print(" ".join(next_term))
    term = next_term

look_and_say(6)

1
1 1
2 1
1 2 1 1
1 1 1 2 2 1
3 1 2 2 1 1

## Bonus Points

# Increasing Triangle (Recursive)

In [44]:
def triangle_inc(n,i=1):
  if i>n:
    return
  print('*'*i)
  triangle_inc(n,i+1)

triangle_inc(4)

*
**
***
****

## 2. Decreasing Triangle (Recusrsive)

In [45]:
def dec_traiangle(n):
  if n==0:
    return
  print('*'*n)
  dec_traiangle(n-1)

dec_traiangle(4)

****
***
**
*

## ✅ 3. Increasing + Decreasing (Diamond Half)

```
*
**
***
**
*
```

In [47]:
def inc(n,i=1):
  if i>n:
    return
  print('*'*i)
  inc(n,i+1)

def dec(n):
  if n==0:
    return
  print('*'*n)
  dec(n-1)

def diamond_half(n):
  inc(n)
  dec(n-1)

diamond_half(4)

*
**
***
****
***
**
*

## ⭐ BONUS: Recursive Pyramid Pattern

In [48]:
def pyramid(n,i=0):
  if i==n:
    return
  print(' '*(n-i-1) + "*"*(2*i+1))
  pyramid(n,i+1)

pyramid(4)

   *
  ***
 *****
*******